<div style="margin: 100px 0 0 0;">
    <div class="row">
        <div class="col">
            <p style="float: right;">
                <span>HOLA {{persona}}</span>
                <a href="/admin/login/logout" class="btn btn-danger">Salir <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>