.div {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
}

#rosa {
    background: pink
}

#rojo {
    background: red
}

#verde {
    background: green;
}