<div class="container-fluid">
        <div id="home" class="row row-cols-1 hero-secciones">
            <div class="col-lg-3 offset-lg-2 algo-secciones">
                <a href="./">
                    <h1>Wols Lencería</h1>
                </a>
            </div>
        </div>
    </div>

    <div class="container-body container-fluid row row-cols-4">
        <div class="producto-body col"><a data-bs-toggle="modal" data-bs-target="#anastasia" href=""><img
                    src="img/body anastasia.jpeg" alt="">
                <h5>Anastasia</h5>
            </a></div>
        <div class="producto-body col"><a data-bs-toggle="modal" data-bs-target="#cata" href=""><img
                    src="img/body cata.jpeg" alt="">
                <h5>Cata</h5>
            </a></div>
    </div>
    <!-- modal anastasia -->
    <div class="modal fade" id="anastasia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                    <img src="img/anastasia1.jpeg" alt="">
                    <img src="img/anastasia2.jpeg" alt="">
                    <img src="img/anastasia3.jpeg" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal cata -->
    <div class="modal fade" id="cata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                    <img src="img/cata1.jpeg" alt="">
                    <img src="img/cata2.jpeg" alt="">
                    <img src="img/cata3.jpeg" alt="">
                    <img src="img/cata4.jpeg" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>