<div class="container-fluid">
        <div id="home" class="row row-cols-1 hero-secciones">
            <div class="col-lg-3 offset-lg-2 algo-secciones">
                <a href="./"><h1>Wols Lencería</h1></a>
            </div>
        </div>
    </div>
    <div class="container-bombacha container-fluid row row-cols-4">
        <div class="producto-bombacha col"><a data-bs-toggle="modal" data-bs-target="#less" href=""><img src="img/less anastasia.jpeg" alt=""><h5>Less Anastasia</h5></a></div>
        <div class="producto-bombacha col"><a data-bs-toggle="modal" data-bs-target="#mili" href=""><img src="img/mili algodon.jpeg" alt=""><h5>Less Mili Algodón</h5></a></div>
    </div>
<!-- modal less -->
<div class="modal fade" id="less" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/less1.jpeg" alt="">
                <img src="img/less2.jpeg" alt="">
                <img src="img/less3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal mili -->
<div class="modal fade" id="mili" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/mili1.jpeg" alt="">
                <img src="img/mili2.jpeg" alt="">
                <img src="img/mili3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>