<div class="container-fluid">
        <div id="home" class="row row-cols-1 hero-secciones">
            <div class="col-lg-3 offset-lg-2 algo-secciones">
                <a href="./"><h1>Wols Lencería</h1></a>
            </div>
        </div>
    </div>
    <div class="container-conjunto container-fluid row row-cols-4">
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#aida" href=""><img src="img/conjunto aida.jpeg" alt=""><h5>Aida</h5></a></div>
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#celina" href=""><img src="img/conjunto celina.jpeg" alt=""><h5>Celina</h5></a></div>
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#emma" href=""><img src="img/conjunto emma.jpeg" alt=""><h5>Emma</h5></a></div>
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#katy" href=""><img src="img/conjunto katy.jpeg" alt=""><h5>Katy</h5></a></div>
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#olivia" href=""><img src="img/conjunto olivia.jpeg" alt=""><h5>Olivia</h5></a></div>
        <div class="producto-conjunto col"><a data-bs-toggle="modal" data-bs-target="#victory" href=""><img src="img/conjunto victory elastico.jpeg" alt=""><h5>Victory Elástico</h5></a></div>
    </div>

<!-- modal aida -->
<div class="modal fade" id="aida" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/aida1.jpeg" alt="">
                <img src="img/aida2.jpeg" alt="">
                <img src="img/aida3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal celina -->
<div class="modal fade" id="celina" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/celina1.jpeg" alt="">
                <img src="img/celina2.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal emma -->
<div class="modal fade" id="emma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/emma1.jpeg" alt="">
                <img src="img/emma2.jpeg" alt="">
                <img src="img/emma3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal katy -->
<div class="modal fade" id="katy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/katy1.jpeg" alt="">
                <img src="img/katy2.jpeg" alt="">
                <img src="img/katy3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal olivia -->
<div class="modal fade" id="olivia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/olivia1.jpeg" alt="">
                <img src="img/olivia2.jpeg" alt="">
                <img src="img/olivia3.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal victory -->
<div class="modal fade" id="victory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                <img src="img/victory1.jpeg" alt="">
                <img src="img/victory2.jpeg" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>