<div class="container-fluid">
        <div id="home" class="row row-cols-1 hero-secciones">
            <div class="col-lg-3 offset-lg-2 algo-secciones">
                <a href="./"><h1>Wols Lencería</h1></a>
            </div>
        </div>
    </div>
    <div class="container-deportivo container-fluid row row-cols-4">
        <div class="producto-deportivo col"><a data-bs-toggle="modal" data-bs-target="#algodon" href=""><img src="img/deportivo1.jpeg" alt=""><h5>Conjunto Deportivo</h5></a></div>
        <div class="producto-deportivo col"><a data-bs-toggle="modal" data-bs-target="#camila" href=""><img src="img/deportivo2.jpeg" alt=""><h5>Camila Algodón</h5></a></div>
    </div>
<!-- modal algodon -->
    <div class="modal fade" id="algodon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Algodón</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                    <img src="img/sport1.jpeg" alt="">
                    <img src="img/sport2.jpeg" alt="">
                    <img src="img/sport3.jpeg" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal camila -->
    <div class="modal fade" id="camila" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Camila</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                    <img src="img/camila1.jpeg" alt="">
                    <img src="img/camila2.jpeg" alt="">
                    <img src="img/camila3.jpeg" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
